<h2>BoardList</h2>
<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>#</th>
				<th>subject</th>
				<th>auth</th>
				<th>date</th>
				<th>views</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board : ${boardList}">
				<td th:text="${board.boardId}"></td>
				<td th:text="${board.subject}"></td>
				<td th:text="${board.auth}"></td>
				<td th:text="${board.registDate}"></td>
				<td th:text="${board.viewCnt}"></td>
			</tr>
		</tbody>
	</table>
</div>